@import '../index.scss';

.row {
  text-align: center;

  h1,
  h2,
  p {
    color: $primary;
  }

  button {
    margin-top: 24px;

    a {
      color: #ffffff;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .glyphicon {
    margin-right: 8px;
  }
}