$primary: #428bca;
$primary-dark: #357ebd;
$gray: #343a40;
$white: #fff;
$gray: #555;
$gray-light: #ccc;
$black: #212529;

body {
  color: $black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;

  #root {
    min-height: 100vh;
  }
}
